#sidebar.active>.components li span.instructor {
    display: none;
}

/* Section Book */
section.container-1 {
    margin-top: 15px;
    display: none;
    flex-direction: column;
    height: 86%;
    position: fixed;
    align-items: center;
    overflow-y: scroll;
}

section.container-1.display-this {
    display: flex;
}